openapi: 3.0.3
info:
  title: Crate API
  version: 1.0.0
  description: Authenticate with ATProto and manage files stored as ATProto records and blobs.
servers:
  - url: https://crate.network
paths:
  /oauth/login:
    post:
      summary: Begin ATProto OAuth authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [handle]
              properties:
                handle:
                  type: string
      responses:
        "200":
          description: Authorization redirect URL
  /oauth/callback:
    get:
      summary: Complete ATProto OAuth authentication
      responses:
        "302":
          description: Browser session created
  /api/v1/session:
    get:
      summary: Read the current Crate session
      responses:
        "200":
          description: Authenticated user and Crate profile
        "401":
          description: Not authenticated
  /api/v1/logout:
    post:
      summary: Revoke the current ATProto OAuth session
      responses:
        "204":
          description: Signed out
  /api/v1/file:
    get:
      summary: Read file metadata or blob content
      parameters:
        - in: query
          name: path
          schema: { type: string }
        - in: query
          name: cid
          schema: { type: string }
        - in: query
          name: content
          schema: { type: string }
      responses:
        "200":
          description: File metadata or content
    post:
      summary: Upload files as ATProto blobs and records
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items: { type: string, format: binary }
      responses:
        "200":
          description: Created records
    delete:
      summary: Delete a file or directory record tree
      parameters:
        - in: query
          name: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Parent path
  /api/v1/dir:
    post:
      summary: Create an empty file or directory record
      parameters:
        - in: query
          name: path
          required: true
          schema: { type: string }
        - in: query
          name: name
          required: true
          schema: { type: string }
        - in: query
          name: type
          required: true
          schema: { type: string, enum: [file, directory] }
      responses:
        "200":
          description: Created record
