@tailwind base;
@tailwind components;
@tailwind utilities;

.crate--shadow {
  image-rendering: crisp-edges;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 0.91px 0.75px rgba(0, 0, 0, 0.0253));
}

@font-face {
  font-family: "iA Quattro";
  src: url(assets/iAWriterQuattroS-Regular.woff2);
}

@font-face {
  font-family: "iA Quattro";
  src: url(assets/iAWriterQuattroS-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: "iA Quattro";
  src: url(assets/iAWriterQuattroS-Italic.woff2);
  font-style: italic;
}

@font-face {
  font-family: "iA Quattro";
  src: url(assets/iAWriterQuattroS-BoldItalic.woff2);
  font-style: italic;
  font-weight: bold;
}

@layer base {
  h1 {
    @apply mb-3 text-4xl font-bold font-iaQuattro lg:text-5xl text-neutral-800 dark:text-neutral-100 lg:mb-8;
  }

  h2 {
    @apply mt-2 mb-3 font-sans text-3xl font-semibold lg:text-4xl text-neutral-700 dark:text-neutral-200;
  }

  h3 {
    @apply mb-1 font-sans text-2xl font-semibold lg:text-3xl text-neutral-800 dark:text-neutral-100;
  }

  p {
    @apply mb-3;
  }

  pre > code {
    @apply block p-4 my-4 bg-neutral-200 dark:bg-neutral-800 rounded-md;
  }

  main {
    @apply px-4 mx-auto mt-4 mb-12 2xl:px-32 sm:mt-8 lg:mt-16 lg:px-8;
  }
}

@layer utilities {
  .text-contents {
    @apply list-disc;
  }

  .text-contents ul {
    @apply pl-6 list-disc;
  }
}
